NEXT_PUBLIC_TENANT_ID=default
SHOPIFY_STORE_DOMAIN=loja-exemplo.myshopify.com
SHOPIFY_STOREFRONT_TOKEN=xxxxx
SHOPIFY_API_VERSION=2025-01
NEXT_PUBLIC_DEFAULT_LOCALE=pt-BR
NEXT_PUBLIC_CURRENCY=BRL
SHOPIFY_WEBHOOK_SECRET=xxxxx
